.Cartelera {
    margin-top: 50px;
  }
.Peliculas{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2vmin;
    min-width: 40vw;
    min-height: 25vh;
    background-color: #d6d3d3;
    border-radius: 5px;
  }
  .Poster{
    pointer-events: none;
    min-width: 15vw; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Descripcion{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 22vw; 
    font-size: calc(5px + 2vmin);
  }
  .Horarios{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  